.area-principal-combos {
    margin-top: -5vh;
    height: auto;
    background-color: #ffc107;
    padding-bottom: 10vh;
}

.classH1 {
    font-size: 40px;
    text-align: center;
    padding: 10vh 0 5vh 0;
    font-family: 'Rock Salt', cursive;
}

.area {
    height: 50vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .40s ease;
}

.area:hover {
    filter: brightness(1.2);
}

.container-flex img {
    width: 180px;
    display: block;
    border-radius: 100%;
    margin-bottom: 20px;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
}

.container-flex>div {
    flex: 1 1 250px;
    margin: 20px 30px;
}

@media (max-width: 575.98px) {
    .classH1 {
        font-size: 25px;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .classH1 {
        font-size: 30px;
    }
}