.area-footer {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 5vh 0 5vh 0;
}

.loja {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.loja .contant-loja {
    height: 400px;
    width: 300px;
}

.container-carrossel {
    width: 100%;
    height: 100%;
}

.wall {
    display: none;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.posicionar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.wall-1 {
    background-image: url('../img/ambiente.jpg');
}

.wall-2 {
    background-image: url('../img/ambiente2.jpg');
}

.wall-3 {
    background-image: url('../img/ambiente3.jpg');
}

.wall a {
    font-size: 50px;
    color: #ffc107;
    text-decoration: none;
    padding: 10px;
}

.wall a:hover {
    color: #ffc107b9;
}

.wall:target {
    display: block;
}

.dados {
    font-family: Arial, Helvetica;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
}

.dados p {
    padding: 20px;
    font-size: 20px;
}

.dados p::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 10px;
    background: #ffc107;
}

.copy {
    background-color: #3A3535;
    text-align: center;
}

.copy p {
    padding: 20px;
    color: white;
}

.meu-nome-footer {
    color: #ffc107;
}

@media (max-width: 575.98px) {
    .loja .contant-loja {
        height: 300px;
        width: 200px;
    }
    .dados p {
        font-size: 10px;
        padding: 10px;
    }
    .dados p::before {
        width: 6px;
        height: 6px;
        border-radius: 3px;
        margin-right: 5px;
    }
    .copy p {
        font-size: 10px;
    }
    .wall a {
        font-size: 30px;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .loja .contant-loja {
        height: 350px;
        width: 250px;
    }
    .dados p {
        font-size: 12px;
        padding: 15px;
    }
    .dados p::before {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin-right: 8px;
    }
    .copy p {
        font-size: 12px;
    }
    .wall a {
        font-size: 40px;
    }
}