.area-cadastro {
    height: auto;
    text-align: center;
}

.area-cadastro .title-cadastro {
    font-size: 40px;
    text-align: center;
    padding-top: 10vh;
    font-family: 'Rock Salt', cursive;
}

.area-cadastro .content {
    padding: 2% 0 10% 0;
}

.area-cadastro .content h1 {
    margin: 15px;
    font-size: 20px;
    font-weight: 400;
}

.area-cadastro .content input {
    width: 30vw;
    border: 2px solid #ffc107;
    padding: 13px 15px;
    font-size: 18px;
}

.area-cadastro .content .button-form {
    width: 15vw;
    height: 8vh;
    background-color: #ffc107;
    color: white;
    transition: all .40s ease;
    border: 2px solid white;
    cursor: pointer;
    margin-top: 5vh;
}

.area-cadastro .content .button-form:hover {
    color: #ffc107;
    background: white;
    border: 2px solid #ffc107;
}

.area-cadastro .content .retorno-dados {
    margin: 20px 30vw;
    background-color: #3A3535;
    color: white;
}

.button-retorno {
    width: 5vw;
    margin: 10px;
    cursor: pointer;
    color: #3A3535;
    font-size: 20px;
    font-weight: bold;
}