.area-footer {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.dados {
    font-family: Arial, Helvetica;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
}

.dados p {
    padding: 20px;
    font-size: 20px;
}

.dados p::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 10px;
    background: #ffc107;
}

.copy {
    background-color: #3A3535;
    text-align: center;
}

.copy p {
    padding: 20px;
    color: white;
}

.meu-nome-footer {
    color: #ffc107;
}